#pragma once

#define WIFI_SSID         "your_wifi_ssid"
#define WIFI_PASS         "your_wifi_password"
#define MQTT_BROKER_URI   "mqtt://your_broker_ip:1883"
#define MQTT_CLIENT_ID    "esp32s3-traffic"
